{% extends "main/main.html" %}
{% block content %}
<div>
    <img src="{{product.image.url}}" alt=""><br>
    <span>{{product.name}}</span><br>
    ID:{{product.id}}<br>
    quan:{{product.quantity}}<br>
    <div class="product_count">
        <input type="text" name="qty" id="qty-cart" maxlength="12" title="Quantity:" class="input-text qty">
        <button onclick="var result = document.getElementById('qty-cart'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst < {{product.quantity}}) result.value++;return false;" class="increase items-count" type="button"><i class="fa-solid fa-chevron-up"></i></button>
        <button onclick="var result = document.getElementById('qty-cart'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 1 ) result.value--;return false;" class="reduced items-count" type="button"><i class="fa-solid fa-chevron-down"></i></button>
    </div>
    
    <button class="btn btn-primary" type="button" value="{{product.id}}" id="add-cart">Add to cart</button>
</div>
{% endblock content %}