<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>hung</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    {% include "main/nav.html" %}
    
    <ul class="messages">
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>

    {% block content %}
    {% endblock content %}
    <script src="" async defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- script use ajax to add product to cart     -->
    <script>
        //Check if button pressed
        $(document).on('click', '#add-cart', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "cart_add" %}',
                data: {
                    product_id: $('#add-cart').val(),
                    product_qty: $('#qty-cart').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function (json) {
                    //console.log(json)
                    document.getElementById("cart_quantity").
                        textContent = json.qty
                },
                error: function (xhr, errmsg, err) {

                }
            });
        })
    </script>
    <!-- script to update cart -->
    <script>
        $(document).on('click', '.update-cart', function (e) {
            e.preventDefault();
            //grab the product id
            var productid = $(this).data('index');
            $.ajax({
                type: 'POST',
                url: '{% url "cart_update" %}',
                data: {
                    product_id: $(this).data('index'),
                    product_qty: $('#select' + productid).val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function (json) {
                    //console.log(json)
                    //document.getElementById("cart_quantity").textContent = json.qty
                    location.reload()
                },
                error: function (xhr, errmsg, err) {

                }
            });
        })
    </script>
    <!-- script to delete item from cart -->
    <script>
        $(document).on('click', '.delete-cart-item', function (e) {
            e.preventDefault();
            //grab the product id
            //var productid = $(this).data('index');
            $.ajax({
                type: 'POST',
                url: '{% url "cart_delete" %}',
                data: {
                    product_id: $(this).data('index'),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function (json) {
                    //console.log(json)
                    //document.getElementById("cart_quantity").textContent = json.qty
                    location.reload()
                },
                error: function (xhr, errmsg, err) {

                }
            });
        })
    </script>
</body>

</html>